.projects-main-container {
	width: 100%;
	min-height: 220px;
	background-color: #cccccc;
	text-align: center;
}

.projects-main-container div {
	display: inline-block;
	width: 45%;
	height: 100%;
}

.projects-left,
.projects-right {
	margin-left: 20px;
	text-align: initial;
	margin-top: 70px;
}

.projects-main-container img {
	width: 100px;
}
.projects-main-container p {
	text-align: justify;
}
.projects-main-container a img {
	cursor: pointer;
	transition: all 0.3s;
}

.projects-main-container a img:hover {
	transform: scale(1.1, 1.1);
}

.projects-right a,
.projects-left a {
	display: block;
	font-size: 1.17em;
	font-weight: bold;
	text-decoration: none;
	color: lightseagreen;
}

.projects-right a:hover,
.projects-left a:hover {
	text-decoration: underline;
}

@media (max-width: 1060px) {
	.projects-main-container {
		min-height: 100px;
	}

	.projects-left,
	.projects-right {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

@media (max-width: 600px) {
	.projects-main-container {
		min-height: 0;
	}

	.projects-rigth {
		margin-top: 20px;
	}

	.projects-main-container > div {
		width: 100%;
	}

	.projects-left {
		margin-top: 50px;
	}

	.projects-right {
		margin-top: 0px;
		margin-bottom: 40px;
	}
}
