.Home-body {
	position: fixed;
	left: 0;
	right: 0;
}

.Home-main {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	height: 100%;
	background-image: url("../../assets/img/Cover.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.Home-main section {
	display: grid;
	grid-column: 2;
	justify-items: center;
	height: 350px;
	margin-top: 80px;
}

.Home-main-text {
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
		1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
	letter-spacing: 5px;
	color: white;
	animation: Appear 1s linear;
	text-transform: uppercase;
}

.Home-main-button {
	display: grid;
	width: 130px;
	height: 50px;
	border: 3px solid white;
	border-radius: 10px;
	color: white;
	background-color: #ebba16;
	align-items: center;
	opacity: 1;
	transition: 0.3s;
	animation-duration: 3s;
	animation-name: Appear;
}

.Home-main-button:hover {
	background-color: white;
	transform: scale(1.1, 1.1);
}

.Home-main-button a {
	display: block;
	height: 100%;
	line-height: 43px;
	width: 100%;
	margin: auto;
	font-size: 15px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}

.Home-main-button a:hover {
	color: black;
}

@keyframes Appear {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 900px) {
	@media only screen and (orientation: landscape) {
		.Home-body {
			position: relative;
			min-height: 500px;
		}
	}
}

@media (max-width: 600px) {
	.Home-main section {
		margin-top: 30px;
	}
}
